@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .waiting .waiting-block {
        width: 293px;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .main {
        padding: 25px 0px 49px 0px;
    }

    .main .book-btn , .booking .booking-btn {
        margin-top: 40px;
    }

    .main .learn-more-text {
        margin-top: 43px;
    }

    .main .title-third-text, .main .title-text {
        font-size: 34px;
    }

    .waiting .waiting-block {
        width: 219px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    section.waiting {
        padding: 45px 0px 40px 0px;
    }

    .waiting .waiting-title {
        font-size: 28px;
    }

    .waiting .promo-text {
        font-size: 20px;
    }

    .waiting .waiting-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .waiting .waiting-block {
        width: 354px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0px 10px;
    }

    section.main {
        min-height: 536px;
        padding: 25px 0 50px 0;
    }

    .main .title-big-text {
        font-size: 51px;
    }

    .main .title-third-text, .main .title-text {
        font-size: 23px;
    }
    
    .main .promo-text {
        display: none;
    }

    .main .book-btn {
        width: 280px;
        height: 61px;
    }

    .waiting .waiting-block {
        img {
            display: block;
            width: 80%;
            margin: 0px auto;
        }
        width: 100%;
    }

    .waiting .waiting-title {
        font-size: 23px;
    }

    .waiting .promo-text {
        font-size: 18px;
    }
}
