.optimisation {
    min-height: 550px;
    padding: 102px 0px 107px 0px;
    background: url('../img/optimization/woman_bg.png') no-repeat;
    background-position-x: 150px;
    background-position-y: 100%;
}
.optimisation .optimisation-title{
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 391px;
}
.optimisation .optimisation-text{
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-left: 391px;
    margin-top: 25px;
}
.optimisation .bold{
    font-weight: 700;
}